@import 'utils/colors';

.component-loader {
	background-color: $white;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

#nprogress {
 	pointer-events: none;

	.bar {
		background-color: $ultra-light-grey;
		height: 20px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1031;
	}
}
