@import 'utils/colors';
@import 'utils/timing-functions';

.component-button {
	.btn {
		color: transparent;
		cursor: pointer;
		display: inline-block;
		font-family: 'Neue Haas Grotesk';
		position: relative;

		.btn__label {
			display: inline-block;
			z-index: 1;
		}
		.btn__underline {
			bottom: 0;
			height: 50%;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 0;
		}
	}
}	
