.component-close {
	&--centered {
		position: absolute;
		left: 50%;
		top: 50px;

		.btn {
			margin-left: -50%;
		}
	}

	.btn {
        font-size: 20px;

		.btn__label {
			bottom: 2px;
			position: absolute;
			left: 0;
		}
		.btn__underline {
			opacity: 0.2;
		}
	}
}
