@import 'utils/colors';
@import 'utils/media-queries';

.component-header {
	align-content: center;
    height: 100%;
    margin: 0 auto;
    max-width: 256px;
    pointer-events: none;

    .header__title {
        font-size: 60px;
        line-height: 60px;
        margin: 0;
        margin-bottom: 20px;
        position: relative;
        text-align: left;
        z-index: 1;
    }

    .header__aside {
        color: $medium-grey;
        font-family: 'Neue Haas Grotesk';
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        text-align: left;
    }
}

@include sm {
    .component-header {
        max-width: 640px;

        .header__title {
            font-size: 150px;
            line-height: 150px;
            margin-bottom: 50px;
            margin-top: -50px;
        }

        .header__aside {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: -100px;
            margin-top: 100px;
        }
    }
}
