@import 'utils/colors';
@import 'utils/media-queries';

.component-slide {
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    -webkit-overflow-scrolling: touch;

    .slide__content {
        display: flex;
        flex-flow: column nowrap;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: -1;

        .content__main {
            background-color: $white;
            flex: 0 0 auto;
            margin: 0 20px;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 150px;

            .slide__preview .preview__inner,
            .slide__description,
            .slide__meta {
                margin:: 0 auto;
                max-width:  1024px;
            }

            .slide__preview {
                background-color: $ultra-light-grey;
                margin-bottom: 80px;
                padding-top: 30px;

                .preview__inner {
                    padding: 0 1em;
                }

                img,
                video {
                    box-shadow: 3px 3px 15px $shadow;
                    margin-bottom: 30px;
                    width: 100%;
                }
            }

            .slide__links {
                margin-bottom: 50px;

                .link {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .slide__details {
        color: $grey;
        margin-bottom: 20px;

        .details__description {
            color: $medium-grey;
            font-family: 'Neue Haas Grotesk';
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 50px;
        }

        .details__detail {
            line-height: 24px;
            margin-bottom: 30px;
        }
    }

    .slide__meta {
        font-size: 10px;
        line-height: 16px;

        h3 {
            font-size: 12px;
            margin: 0;
        }

        p {
            margin-bottom: 30px;
        }
    }
}

@include sm {
    .component-slide {
        .slide__content {
            .content__main {
                padding-top: 250px;
            }
        }

        .slide__meta {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
